<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = 'container'>
        <h1>수정 페이지</h1>
        <form action="{% url 'update' blog.id %}" method = "POST">
            {% csrf_token %}
            <h4>제목: </h4>
            <input type="text" name='title' value={{blog.title}}> <!--수정하려면 원래 데이터를 가지고와야하기 때문에 해당객체의 title을 가져온 것!-->
            <br><br>
            <h4>본문: </h4>
            <textarea name="body" cols="40" rows="10">{{blog.body}}</textarea>
            <br><br>
            <input type="submit" value="제출하기">
        </form>
    </div>
</body>
</html>