

<!--blogs 변수를 이 페이지에 나타냄! -->
<!--템플릿 변수 {{blogs}} : html 내에서 파이썬 변수 사용할 수 있게 해줌-->
<!--템플릿 태그 {% for blog in blogs.all %} {% endfor %} : 파이썬 문법 사용할 수 있게끔-->
<!--쿼리셋 blogs : 전달 받은 모델의 객체 목록-->
<!--쿼리셋 메소드 blogs.all, blogs.count() ... : 쿼리셋 활용 기능들-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'new' %}">글쓰기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'introduce' %} ">자기소개</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>


    {% for blog in blogs.all %}
        <div class = "container"> <!--bootstrap이 div class에 container라고 하면 여백을 생성시켜주는 기능 제공!-->
            <h1>{{blog.title}}</h1>
            <p>{{blog.pub_date}}</p>
            <p>{{blog.summary}}<a href="{% url 'detail' blog.id %} ">...더보기</a></p>   <!--모델에서 blog의 summary 함수(100자 제한)를 써서 body 리턴해줌-->
        </div>                                                                           <!--url.py에서 path converter에 블로그 id를 추가했으므로 'url' 뒤에 blog.id 적어줘야!-->
    {% endfor %}
</body>
</html>


  